.header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header__left {
    display: flex;
}

.header__left > img {
     object-fit: contain;
     height: 40px;
     margin-right: 10px;
}

.header__search {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background: #eef3f8;
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
}

.header__right {
    display: flex;
}